body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

#head {
  width: 100%;
  height: 120px;
  background-color: rgba(0, 68, 136, 1);
  overflow: hidden;
  position: relative;
}

#head .headText {
  color: White;
  text-align: center;
  margin-top: 20px;
  text-height: 5px;
  font-size: 30px;
  font-weight: bold;
}

#head span {
  color: White;
  text-align: center;
  margin-top: 5px;
  font-weight: 100;
  display: block;
  font-size: 20px;
}

#head .github {
  width: 80px;
  position: absolute;
  right: 0;
}

#code {
  width: 600px;
  height: 250px;
  border: 1px transparent solid;
  margin: 20px auto 0;
}

#code .pin {
  width: 400px;
  height: 100px;
  border: 1px transparent solid;
  background-color: rgba(194, 197, 204, 0.7);
  margin: 30px auto 0;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#text {
  color: rgba(16, 16, 16, 1);
  font-size: 45px;
}

#code .btn {
  width: 430px;
  height: 80px;
  margin: 15px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn .generate {
  width: 200px;
  height: 55px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: rgba(0, 68, 136, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
}

#copy {
  width: 200px;
  height: 55px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: rgba(238, 210, 2, 0.8);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(16, 16, 16, 1);
  font-size: 20px;
}

#foot {
  width: 600px;
  height: auto;
  margin: 0 auto;
  border: 1px transparent solid;
  overflow: hidden;
  color: #445361;
}

#foot p {
  text-align: justify;
}

/* RESPONSIVE */
@media screen and (max-width: 500px) {
  body {
    width: 500px;
  }

  #head .headText {
    margin-top: 30px;
    font-size: 25px;
  }

  #head span {
    font-size: 15px;
  }

  #code {
    width: 90%;
    height: 200px;
    margin: 20px auto 0;
  }

  #code .pin {
    width: 100%;
    margin: 0;
  }

  #code .btn {
    margin: 0;
  }

  #foot {
    width: 400px;
  }
}
